.btn {
    color: $primary;
    border: 1px solid $primary;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    padding: 20px 40px;
    font-weight: 600;

    @include fontSize(20)
}
