.page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media('tablet') {
        width: 100% !important;
        left: auto !important;

        .text-page {
            width: 85%;

            * {
                width: 100%;
            }
        }
    }

}
