
.scroll-line
    position: absolute
    width: 100vw
    height: 100vh

    background: url('../assets/img/marbre.jpg')
    background-position: center
    background-size: cover
    background-repeat: no-repeat

    overflow: hidden

    > div // animated container
        position: relative
        $nb_pages: 4
        @for $i from 0 to $nb_pages
            &:nth-child(#{$i})
                z-index: calc(#{$nb_pages} - #{$i})
        
        display: flex
        justify-content: center
        align-items: center

        width: 100vw
        height: 100vh

        > div // scroll page
            overflow-y: visible
            &.arrow
                overflow: initial

    &-bar
        position: fixed
        right: 0

        display: flex
        align-items: flex-end
        justify-content: center

        height: 100vh
        width: 15vw

        z-index: 100

        &-elements
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: flex-end

            height: 70vh
            width: 150px

            z-index: 2

        &-element
            display: flex
            justify-content: space-between
            align-items: center
            width: 400px

            &:last-child
                margin-bottom: 25vh 

        &-line
            position: relative
            left: 76.5px
            bottom: 0

            min-width: 2px
            height: 75vh

            background: $secondary

        &-ball
            background: $secondary
            border-radius: 100%
            cursor: pointer

            &-container
                display: flex
                justify-content: center
                align-items: center
                width: 150px
                height: 150px

        &-label
            font-family: 'roboto', sans-serif
            font-size: 1.8rem
            width: 250px
            text-align: right


