
.scroll-line
    position: absolute
    width: 100vw
    height: 100vh

    > div // animated container
        position: relative
        $nb_pages: 4
        @for $i from 0 to $nb_pages
            &:nth-child(#{$i})
                z-index: calc(#{$nb_pages} - #{$i})

        > div // scroll page
            overflow-y: auto
            overflow-x: hidden

    &-bar
        position: fixed
        right: 0

        display: flex
        align-items: center
        justify-content: center

        height: 100vh
        width: 15vw

        opacity: 0.8
        z-index: 100

        &-line
            position: relative
            left: 75px

            width: 3px
            height: 60vh

            background: white

        &-ball
            background: white
            border-radius: 100%
            cursor: pointer

            &-container
                position: relative
                display: flex
                flex-direction: column
                justify-content: space-around
                align-items: center

                height: 60vh
                width: 150px

                z-index: 2


