/*
* Fonts
*/
@mixin fontSize($sizeValue: 1.6) {
    font-size: ($sizeValue * 1) + px;
}

/*
* size elements
*/
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/*
* Placeholder
*/
@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*
* Media queries
 */
@mixin media($media) {
    // Code pour les grand écrans d'ordinateurs
    @if $media == 'large-desktop' {
        @media screen and (min-width: #{$desktop}) {
            @content;
        }
    }
    // Code pour les écrans d'ordinateurs et +
    @if $media == 'desktop' {
        @media screen and (min-width: #{$tablet}) {
            @content;
        }
    }
    // Code uniquement pour les écrans de tablette
    @if $media == 'only-tablet' {
        @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) {
            @content;
        }
    }
    // Code pour les écrans de tablette et -
    @if $media == 'tablet' {
        @media screen and (max-width: #{$tablet}) {
            @content;
        }
    }
    // Code uniquement pour les écrans mobile
    @if $media == 'mobile' {
        @media screen and (max-width: #{$mobile}) {
            @content;
        }
    }
    // Code uniquement pour les écrans en format paysage
    @if $media == 'landscape' {
        @media screen and (orientation: landscape) {
            @content;
        }
    }
    // Code uniquement pour l'impression
    @if $media == 'print' {
        @media print {
            @content;
        }
    }
}
