#one {
    text-align: center;

    &.flex {
        > div {
            &:first-child {
                position: relative;
                width: 52%;
                .bg {
                    clip-path: polygon(0 0, 100% 0%, 250px 100%, 0% 100%);
                    background: url("../assets/img/home/fond.png") no-repeat;
                    background-position: -50%;
                    background-size: cover;
                }
                .svg {
                    height: 100vh;
                    left: -10px;

                    svg {
                        @include size(auto, 100%)
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: -125px;
                    bottom: 0;
                    background: url("../assets/img/home/trait.png") no-repeat center;
                    background-size: contain;
                    z-index: 5;
                    @include size(100%, 100%);
                }
            }

            &:last-child {
                position: relative;
                z-index: 8;
                margin: auto;
                width: 100%;
                top: 5vh;

                .subtitle {
                    margin-top: 18px;
                }

                .btn {
                    margin-top: 75px;
                }
            }
        }
    }
}
