#one {
    text-align: center;
    @include media('tablet') {
        position: relative;
        left: -100px;
    }

    &.flex {
        > div {
            &:first-child {
                position: relative;
                width: 52%;

                .svg {
                    height: 100vh;
                    left: -10px;

                    svg {
                        @include size(auto, 100%);
                    }
                }
            }

            &:last-child {
                position: relative;
                z-index: 8;
                margin: auto;
                width: 100%;
                top: 5vh;

                .subtitle {
                    margin-top: 18px;
                }

                .btn {
                    margin-top: 75px;
                }
            }
        }
    }
}
